
<section class="text-gray-400 bg-gray-800 body-font ">
    <div class="container px-5 py-24 mx-auto ">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col items-center justify-center text-center w-full mb-10">
                <h1 class="text-2xl font-medium title-font mb-4 text-white tracking-widest">MY BOOKINGS</h1>
                <div class="w-16 h-1 rounded-full bg-indigo-500"></div>
            </div>
        </div>


        <div class="pl-40" >
           <app-booking ></app-booking>
           <app-booking></app-booking>
           <app-booking></app-booking>
           <app-booking></app-booking>
        </div>
    </div>

</section>

