<div class="flex flex-wrap -m-4">
  <div class="p-8 ">
    <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
      <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://www.multiburo.com/files/CENTRES%20FRANCE/LAZ-Paris%20Gare%20Saint%20Lazare/LAZ-location%20salle%20de%20reunion%20paris%208%20saint%20lazare.jpg">
      <div class="flex-grow sm:pl-8">
        <h2 class="title-font font-medium text-lg text-white">Holden Caulfield</h2>
        <h3 class="text-gray-500 mb-3">UI Developer</h3>
        <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen </p>
       
      </div>
      <div class=" ml-20">
        <button class="bg-orangeS hover:bg-orange-500 text-white font-bold py-2 px-4 rounded">Delete</button>
      </div>
    </div>
  </div>
</div>
