<section class="text-gray-400  body-font ">
    <div class="container px-5 py-24 mx-auto ">
      <div class="flex flex-wrap -m-4 ">
        <div class="p-4 w-80 h-100">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden bg-gray-900">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://www.multiburo.com/files/CENTRES%20FRANCE/LAZ-Paris%20Gare%20Saint%20Lazare/LAZ-location%20salle%20de%20reunion%20paris%208%20saint%20lazare.jpg" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">Room number</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Description</h1>
              <div class="flex items-center flex-wrap ">
                <button routerLink="/app-reservation" class=" inline-flex text-white bg-orangeS border-0 py-2 px-6 focus:outline-none hover:bg-orangeS rounded text-lg">Book </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
